{% extends 'registration/base.html' %}

{% block title %}Course List{% endblock %}

{% block content %}
<h1>Course List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td><a href="{% url 'course_detail' course.id %}" class="btn">View</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add_course' %}" class="btn">Add Course</a>
{% endblock %}
