{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Welcome to Contact Page</h1>
<p>We value your feedback and are here to assist you with any inquiries you may have. Whether you have a question, a suggestion, or need support, our team is ready to help. You can reach us through various channels - send us an email, give us a call, or fill out the contact form below. We aim to respond to all inquiries promptly and thoroughly. Your input is crucial in helping us improve and deliver the best possible experience. Thank you for taking the time to get in touch with us. We look forward to hearing from you!</p>
{% endblock %}